# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mongodb+srv://jhaaditya690:FT5dcR0QcsSnNAsn@cluster0.gxoqohx.mongodb.net/test"
GOOGLE_CLIENT_ID= 464451644689-9hi9d35vm9sohauf8oofoqmengret2s4.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET= 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
GITHUB_ID=Ov23liGqmfTaLPxjF7WC
GITHUB_SECRET=736a4363bb719d901c1117fb3d53ec3e28f32794
NEXTAUTH_SECRET="NEXTAUTH_SECRET"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="dsmiq2dxj"
NEXT_PUBLIC_LOOKUP_KEY="0DmYj8TDWrYBc4e8iUSU"
